.features {
  display: flex;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__box {
  flex-basis: calc((100% - 90px) / 4);
}

.features__box {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  @extend %flex-list;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-title-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
}
