.section {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #ffffff;
}

.section-padding-not {
  padding-top: 0;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.section-background {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f5f4fa;
}

.section__title {
  @include font(700, 28px, 1.17, 0.03em);
  text-align: center;
  color: var(--primary-title-color);
}

.section__title-mb {
  margin-bottom: 30px;
}
