.section {
  padding-top: 94px;
  padding-bottom: 94px;
  color: #e5e5e5;
}

.section-padding-not {
  padding-top: 0;
}

.section-background {
  background: #f5f4fa;
}

.section__title {
  @include font(700, 36px, 1.17, 0.03em);
  text-align: center;
  color: var(--primary-title-color);
}

.section__title-mb {
  margin-bottom: 50px;
}
